@import "termo.css";

* {
    transition: all 2ms ease;
}

html {
    overflow: auto;
}

#modalclose {
    cursor: pointer;
}

header>div {
    display: flex;
    align-items: center;
    width: max-content;
}

header>div>* {
    margin-right: 0.75em;
}

header>div>*:last-child {
    margin-right: 0;
}

header #github {
    border: none;
}

main {
    color: white;
    height: 100%;
    font-size: 3em;
    font-weight: 300;
    line-height: 1rem;
}

main table {
    width: 100%;
    padding: 0 2rem;
}

main table th,
main table td {
    align-items: center;
    border-radius: 5%;
    height: max-content;
    padding: 2rem;
}

main table th {
    font-weight: normal;
    background-color: #3aa394;
    border: none;
}

main table td {
    background-color: #615458;
    border: 0.125em solid #4c434730;
}

main h2 {
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.95;
}

.buttons-container {
    display: flex;
}

.buttons-container>button {
    margin-right: 0.5em;
}

.buttons-container>button:last-child {
    margin-right: 0;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 12px
}

*::-webkit-scrollbar-thumb {
    background: #625256;
    border-radius: 6px
}

.day-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-header svg {
    cursor: pointer;
}

.day-header svg:first-child {
    margin-left: 2rem;
}

.day-header svg:last-child {
    margin-right: 2rem;
}

.day-header svg.inactive {
    opacity: 0.5;
    pointer-events: none;
}

#input-modal .row {
    width: fit-content;
    gap: 0 var(--letter-gap);
}

#input-modal .letter {
    --happy-jump: 55%;
    align-items: center;
    aspect-ratio: 1;
    background-color: #615458;
    border-radius: 10%;
    box-sizing: border-box;
    display: inline-block;
    display: flex;
    font-size: var(--letter-font);
    justify-content: center;
    text-transform: uppercase
}

#input-modal .letter.ontype {
    -webkit-animation: type .15s ease-out 0s none;
    animation: type .15s ease-out 0s none
}

#input-modal .letter.empty {
    background-color: transparent;
    border: .125em solid #4c4347
}

#input-modal .letter.right {
    --color: #3aa394;
    -webkit-animation: flip .5s linear 0s forwards;
    animation: flip .5s linear 0s forwards
}

#input-modal .letter.place {
    --color: #d3ad69;
    -webkit-animation: flip .5s linear 0s forwards;
    animation: flip .5s linear 0s forwards
}

#input-modal .letter.wrong {
    --color: #312a2c;
    -webkit-animation: flip .5s linear 0s forwards;
    animation: flip .5s linear 0s forwards
}

#input-modal .letter.done {
    background-color: #3aa394
}

#input-modal>div .letter {
    width: 2em;
    height: 2em;
}

form input,
#input-modal input {
    border-radius: 2%;
    box-sizing: border-box;
    font-size: 5rem;
    justify-content: center;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    color: white;
    letter-spacing: 1rem;
    background-color: transparent;
    border: .125em solid #4c4347;
}

form input::-webkit-input-placeholder,
#input-modal input::-webkit-input-placeholder {
    color: #4c4347AA;
}

form button,
#input-modal button {
    border: none;
    font-size: 4rem;
    border-radius: 2%;
    margin-top: 1rem;
    color: white;
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: #3aa394;
}

form button.secondary,
#input-modal button.secondary {
    opacity: 0.9;
    background-color: #d3ad69;
}

form label {
    color: #bbb;
    font-size: 3em;
    font-weight: 300;
    line-height: 1.35em
}

main>form label {
    color: white;
    font-size: 3rem;
}

form p.error,
#input-modal form p.error {
    color: #c96161;
}

#input-modal .letter.option {
    width: 2.5em;
    height: 2.5em;
    font-size: 4em;
    cursor: pointer;
}

.copyable:hover {
    cursor: pointer;
    background-color: #3aa394AA;
}

#word-for-the-day {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#word-for-the-day>* {
    margin: 2rem 0;
}

#word-inputs, #no-info-word {
    opacity: 0.5;
    font-size: 0.75em;
    line-height: normal;
    text-align: center;
}

#no-info-word {
    opacity: 0.3;
}

@media (max-width: 600px) {
    #input-modal>div .letter {
        width: calc(100vw / 8);
        height: calc(100vw / 8);
    }

    #input-modal .letter.option {
        width: calc(100vw / 8);
        height: calc(100vw / 8);
    }

    main table {
        zoom: 1.2;
    }

    h2 {
        font-size: 2em;
    }
}

@media (max-width: 500px) {
    main table {
        zoom: 1.4;
    }
}

@media (max-width: 400px) {
    main table {
        zoom: 1.6;
    }
}
